version: 2

jobs:
  build: &build
    docker:
      - image: circleci/node

    steps:
      - checkout

      - run:
          name: Build
          command: echo "Running job '$CIRCLE_JOB' in branch '$CIRCLE_BRANCH'"

  merge-branch-to-next-stage: &merge
    docker:
      - image: circleci/node

    steps:
      - checkout

      - run:
          name: Merge changes into branch of the next stage
          command: echo "Merging branch '$CIRCLE_BRANCH' into next stage, running in job '$CIRCLE_JOB'"

  packer: &packer
    docker:
      - image: hashicorp/packer:1.2.4

    steps:
      - checkout

      - run:
          name: Run Packer build on Azure
          command: echo "Running packer build for '$PACKER_TEMPLATE' in branch '$CIRCLE_BRANCH' in job '$CIRCLE_JOB'"

  deploy-to-unstable:
    <<: *build

  install-rhel-test:
    <<: *packer
    environment:
      - PACKER_TEMPLATE: "centos_7"

  install-windows-test:
    <<: *packer
    environment:
      - PACKER_TEMPLATE: "windows_2016"

  update-rhel-test:
    <<: *packer
    environment:
      - PACKER_TEMPLATE: "centos_7"
      - PLOSSYS_UPDATE: "true"

  update-windows-test:
    <<: *packer
    environment:
      - PACKER_TEMPLATE: "windows_2016"
      - PLOSSYS_UPDATE: "true"

  deploy-to-testing:
    <<: *merge

workflows:
  version: 2

  build-n-deploy:
    jobs:
      - build:
          filters:
            branches:
              only:
                - master
                - testing
                - stable
                - production

  unstable-to-testing:
    jobs:
      - deploy-to-unstable:
          filters:
            branches:
              only:
                - unstable
      - install-rhel-test:
          requires:
            - deploy-to-unstable
      - update-rhel-test:
          requires:
            - deploy-to-unstable
      - install-windows-test:
          requires:
            - deploy-to-unstable
      - update-windows-test:
          requires:
            - deploy-to-unstable
      - deploy-to-testing:
          requires:
            - install-rhel-test
            - update-rhel-test
            - install-windows-test
            - update-windows-test
